{{ define "main" }}

{{/* Display _index.md if available */}}
{{ if .Content }}
{{ partial "single" . }}
{{ end }}

{{/* Create a slice to store pages along with a custom sort key */}}
{{ $pages := slice }}
{{ range .Paginator.Pages }}
    {{ $sortKey := .Date }}
    {{ if not .Lastmod.IsZero }}
        {{ $sortKey = .Lastmod }}
    {{ end }}
    {{ $pages = $pages | append (dict "page" . "sortKey" $sortKey) }}
{{ end }}

{{/* Sort the slice by sortKey */}}
{{ $sortedPages := sort $pages "sortKey" "desc" }}

<ul class="post-list">
    {{ range $sortedPages }}
    <li>
        <a href="{{ .page.RelPermalink }}">
            {{- .page.Title | markdownify }}
        </a>
        {{ partial "post_meta.html" .page }}
    </li>
    {{ end }}
</ul>

{{/* Display paginator */}}
{{ template "_internal/pagination.html" . }}

{{ end }}

