  <div style="text-align:center;">
    <br>
    {{ if .NextInSection }} <a class="arrow-link"  href="{{.NextInSection.Permalink}}" style="margin-right: 20px;">⟵</a> {{ end }} {{ if .PrevInSection }} <a class="arrow-link" href="{{.PrevInSection.Permalink}}" style="margin-left: 20px;">⟶</a> {{ end }}
  </div>
